@import 'variables';
.albums {
    @include page();
    .main_h1 {
        @include line_through($purple, $smooth_black, $bright_white);
        margin-bottom: 2rem;
    }
    .breakpoint_h1 {
        display: none;
    }
    section {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

#url_link {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 2rem 2rem 0;
    background-color: $smooth_black;
    padding: 1rem;
    border-radius: 50%;
    @include d-flex(center, center, row-reverse);
    transition: all 400ms linear;
    text-decoration: none;
    z-index: 10000;
    border: 1px solid red;
    &:hover,
    &:focus {
        // border-radius: 0;
        // transform: rotate(360deg);
        animation: roll 400ms linear 1 forwards;
    }
}

@keyframes roll {
    0% {
        border-radius: 0;
        transform: rotate(0);
    }
    50% {
        border-radius: 50%;
    }
    80% {
        border-radius: 50%;
    }
    100% {
        // border-radius: 0;
        transform: rotate(360deg);
    }
}

@media all and (max-width: 1200px) {
    .albums {
        width: 100% !important;
    }
}

@media all and (max-width: 1000px) {
    .main_h1 {
        display: none !important;
    }
    .breakpoint_h1 {
        display: block !important;
        font-size: 1.5rem;
        font-family: $font_family_jura;
        font-weight: 700;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }
}

@media all and (max-width: 768px) {
    .albums {
        padding-top: 60px !important;
    }
    #url_link {
        &:hover,
        &:focus {
            animation: none !important;
        }
    }
}